* {box-sizing: border-box;}

#root {
  width: 100vw;
  height: 100vh;
  padding: 0 !important;
}

.whiteboard {
  background-color: rgb(244, 245, 255);
  background-size: 40px 40px;  
}

.canvas-container {width: 100% !important; height: 100% !important;}

.tools {  
  position: fixed;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  background-color: #fff;  
  border-radius: 7px;
  overflow: hidden;
  z-index: 99999;
}

.menu {  
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  z-index: 99999;
}

.whiteboard button {
  background-color: inherit;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;  
  padding: 12px;
  cursor: pointer;
}

button:hover {opacity: 0.8;}

.shadow {box-shadow: 0 0 0 1px rgb(255 255 255 / 24%), 1px 1px 5px rgb(0 0 0 / 22%);}

.w-100 {width: 100%;}
.h-100 {height: 100%;}

.bg-white {background-color: #fff;}

.border-0 {border: 0;}

.d-flex {display: flex;}
.justify-between {justify-content: space-between;}
.justify-center { justify-content: center;}
.align-center {align-items: center;}

.br-7 {border-radius: 7px;}

.mb-10 {margin-bottom: 10px;}
.mr-10 {margin-right: 10px;}

.pr-1 {padding-right: 12px;}
.pl-1 {padding-left: 12px;}
.py-1 {padding-top: 12px; padding-bottom: 12px;}